
/*nav bar*/
.navbar {
   overflow:hidden;
   background-color:rgba(152,5,38,.7);
    }
 
.navbar a {
    float: left;
    Font-size: 16px;
    color:#1C149C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: azure;
    color: #1C149C;
}

/* drop down list*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none; 
    outline: none;
    color:#1C149C;
    padding: 14px 16px; 
    background-color: rgba(152,5,38,.7);
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:  rgba(152,5,38,.7);
}

.dropdown-content {
    display:none;
    position:absolute;
    background-color:  rgba(152,5,38,.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.dropdown-content a {
    float: none;
    color:#1C149C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
 }

 .dropdown-content a:hover {
    background-color: azure;
 }

.dropdown:hover .dropdown-content {
    display:block;
 }



body {
    background-color: #1C149C;
    color: #980526;
 }
 /*image*/
 
 .container_1 {
    position: center;
    width: 50%;
    text-align: center;
    color: whitesmoke;
    font-size:xx-large larger;
    font-family: 'Lobster', cursive;
}
.image {
    opacity: 1;
    display: block;
    width: 50%
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

 img {
    border: 10px solid #B90029;
    border-radius: 75%;
}


.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
 }

.container_1:hover .overlay {
    opacity: 1;
}

.text {
    color:azure;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
footer{
    text-align: center;
    font-weight: bold;
}
/* table*/
table, th, td{
    border: 1px solid whitesmoke;
    text-align: center;
}
th, td{
    padding: 1em;
}
th{
    background-color: rgba(152,5,38,.7);
    color:#1C149C;
 }
.container{
    position:center;
    text-align:center;
    color:#980526;
    font-size: larger;
}

/* paragraph*/
p {
    color:#980526;
    text-align: left;
}
p:hover {
    font-weight: bold;
    text-align: center;
}