@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

span{ 
    text-align:center;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 40px; 
    color:#cc0000;
}
body{
    background-color:#0e42b3;
   color: #cc0000;
}
/*----------------------------
CONTACT Styles
-------------------------------*/
.flex-container{
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba (100, 65, 0, .3);
    box-shadow: 2px 2px 10px 0 rgba( 0, 0, 0, 0.5);
}

#Membership{
    background-color: #1009e8;
}

.Membership {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color:rbga(100, 65,0, .3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 1), 1px 2px 10px 0 rbga(0, 0, 0, 0.5);
}

.Membership h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #cc0000;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.Memebership h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color:#cc0000;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.membership p{
    color:#cc0000;
    width: 50%;
    MARGIN:0 auto;
}

.membership form{
    font-size :15px; 
    outline: none;
    font-weight: 600;
    color: #0e42b3;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #cc0000;
    margin:2% auto;
    border-radius: 7px;
    background: rgb (227,222,222);
    box-shadow: 2px 3px, 3px, 0px, rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

.membership input[type="text"]{
    font-size:15px;
    outline: none;
    font-weight: 600;
    color: #af0909;
    padding: 2% 1% 2% 7%;
    width: 80%
    border-top 1px solid#920692;
    border-right:2px solid #c8198b;
    border-bottom:2px solid #c8198b;
    border-left: 1px solid #920692;
    margin:10px 1em;
    border-radius: 7px;
    background:#0e42b3;
    box-shadow:inset 0px 3px 0px 0px rgba(133, 2, 120, 0.15);
    font-family:'Raleway', sans-serif;
}

.membership input[type="text"]:hover {
    box-shadow: 0 0 18px rgba (100, 65, 0, .8);
}

.form-spacer {
    padding: 30px 39px;
}
